streamlit_option_menu==0.3.2
grad-cam==1.4.0
imageio==2.19.3
numpy==1.20.2
keras==2.9.0
opencv-python-headless==4.6.0.66
pandas
streamlit-aggrid==0.2.3.post2
plotly==5.9.0
tensorflow==2.9.1
matplotlib==3.5.2
imutils==0.5.4
scikit-image==0.19.2
streamlit_webrtc
joblib
mtcnn
