streamlit_option_menu
grad-cam
imageio
opencv-contrib-python-headless
numpy
pandas
streamlit-aggrid==0.2.3.post2
plotly
tensorflow==2.6.0
matplotlib
imutils
scikit-image
streamlit_webrtc
joblib
mtcnn
dlib-bin
